.listContainer {
  background-color: rgb(241, 241, 241);
  width: 500px;
  transform: translateX(-100%);
  z-index: 1;
  transition: all 0.3s;
}

.listContainerIsOpen {
  transform: translateX(0);
}

@media (max-width: 700px) {
  .listContainer {
    transform: translateY(-100%);
    width: 100vw;
  }

  .listContainerIsOpen {
    transform: translateY(0);
  }
}
